@font-face {
    font-family: write_font;
    src: url("./FrederickatheGreat-Regular.ttf");
}
@font-face {
    font-family: sfpro;
    src: url("./SFPRODISPLAYREGULAR.OTF");
}
*{
    font-family: sfpro;
}
.header{
    background-image: url("./THOMSheader.png");
    width: 100vw;
    height: 100vh;
    line-height: 100vh;
}
h1,h2{
    text-align: center;
    font-family: write_font;
    color:black;
}
.intro{
    display:flex;
    justify-content: space-evenly;
}
.intro figure img{
    width: 100px;
    height: auto;
}
.intro figure{
    text-align: center;
}
p{
    text-indent: 50px;
    text-align:justify;
}
.link-button{
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    font-family: sfpro;
    border: none;
    font-size: 15px;
}
.link-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    animation: "fadeIn 6s"
  }
  
.link-button span:after {
    content: '>>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 20px;
    transition: 0.5s;
  }
  
.link-button:hover span {
    padding-right: 25px;
    text-decoration: underline;
  }
  
.link-button:hover span:after {
    opacity: 1;
    right: 0;
  }
a{
    color: blue;
    text-decoration: none;
}
a:hover{
    color: darkcyan;
}
.title-button{
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: sfpro;
    border: none;
    font-size: 15px;
}
.title-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    animation: "fadeIn 6s"
  }
  
.title-button span:before {
    content: '<<';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -20px;
    transition: 0.5s;
    text-align: left;
  }
  
.title-button:hover span {
    margin-left: 25px;
    text-decoration: underline;
  }
  
.title-button:hover span:before {
    opacity: 1;
    right: 0;
  }
  /* Style the tab */
  * {box-sizing: border-box}

  /* Style the tab */
  .tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 20%;
    height: 450px;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current "tab button" class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    float: left;
    padding: 0px 12px;
    width: 80%;
    border-left: none;
    height: 450px;
    text-align: justify;
  }
  .tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }
  #tabList{
    width: 100vw;
  }
  
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  video{
    height: 200px;
    width: auto;
  }
  